---
import { fade } from "astro:transitions";
import BaseLayout from "./BaseLayout.astro";
import Hero from "../components/Hero.astro";
import Tag from "../components/Tag.astro";
import type { CollectionEntry } from "astro:content";

type Props = {
  data: CollectionEntry<"posts">["data"];
};
const { data } = Astro.props;
---

<BaseLayout pageTitle={data.title}>
  <p>
    Written by <a href="/about/">{data.author}</a> on <time
      datetime={data.pubDate.toISOString()}
      >{data.pubDate.toISOString().slice(0, 10)}</time
    >
  </p>
  {
    data.tags && data.tags?.length > 0 && (
      <ul class="tags">
        {data.tags.map((tag: string) => (
          <li>
            <Tag tag={tag} />
          </li>
        ))}
      </ul>
    )
  }
  {
    data.description && (
      <p transition:animate={fade({ duration: "2s" })}>
        <em>{data.description}</em>
      </p>
    )
  }
  {data.image && <Hero image={data.image} />}
  <slot />
  <style>
    .tags {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
      padding: 0.5rem 0;
    }
  </style>
</BaseLayout>
