---
import BaseLayout from "./BaseLayout.astro";
import Hero from "../components/Hero.astro";
import type { MarkdownPostFrontmatter } from "../types";
import Tag from "../components/Tag.astro";

type Props = {
  frontmatter: MarkdownPostFrontmatter;
};

const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <p>
    Written by {frontmatter.author} on {
      frontmatter.pubDate.toString().slice(0, 10)
    }
  </p>
  {
    frontmatter.tags && frontmatter.tags?.length > 0 && (
      <ul class="tags">
        {frontmatter.tags.map((tag: string) => (
          <li>
            <Tag tag={tag} />
          </li>
        ))}
      </ul>
    )
  }
  {
    frontmatter.description && (
      <p>
        <em>{frontmatter.description}</em>
      </p>
    )
  }
  {frontmatter.image && <Hero image={frontmatter.image} />}
  <slot />
  <style>
    .tags {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
      padding: 0.5rem 0;
    }
  </style>
</BaseLayout>
